::-webkit-scrollbar {
    display: none;
}

table {
    font-family: 'Space Mono', monospace;
    overflow: hidden;
    font-size: 40px;
}


.white {
    color: white;
}

.gold {
    color: gold;
}

.silver {
    color: silver;
}