<!DOCTYPE HTML>

<html lang="en">
    <title>Kevin Gentile - Rambler</title>
	{{ template "header.template.html" . }}

	<body class="bg-dark">
        {{ template "nav.template.html" . }}
        
		<div class="container-md justify-content-center text-white">
            <h1>Rambler Articles</h1>
            <ul class="list-group list-group-flush border border-white">
                {{ range .articles }}
                <li class="ard bg-dark list-group-item border border-light">
                    <div class="card-header">{{ .Title }}</div>
                    <div class="card-footer text-muted">{{ .Date }}</div>
                </li>
                {{ end }}
            </ul>
		</div>
		{{ template "copyright.template.html" . }}
		{{ template "scripts.template.html" . }}
	</body>
</html>