{{ define "contact" }}
<section id="contact">
    <hr />
    <div class="row">
        <div class="12u">

            <!-- Contact -->
            <section class="contact">
                <header>
                    <h3>Want to stay in touch?</h3>
                </header>
                <p>Email:  <a href="mailto:gentile_kevin94@hotmail.com">gentile_kevin94@hotmail.com</a></p>
                <p>Connect on social media!</p>
                <ul class="icons">
                    <li><a href="mailto:gentile_kevin94@hotmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
                    <li><a href="https://www.github.com/laughingcabbage/" class="icon fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="https://twitter.com/kevin_gentile" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.linkedin.com/in/gentilekevin/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                </ul>
            </section>

            <!-- Copyright -->
            <div class="copyright">
                <ul class="menu">
                    <li>&copy; Kevin Gentile 2017. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    <li>Photo by <a href="https://unsplash.com/@jplenio">Johannes Plenio</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{{ end }}