{{ define "footer" }}
<!-- Footer -->
<div id="footer">
    {{ with .footer }}
    <div class="container">
        <section id="contact">
            <hr />
            <div class="row">
                <div class="12u">
                    <!-- Contact -->
                    <section class="contact">
                        <header>
                            <h3>{{.Header}}</h3>
                        </header>
                        <p>{{.Body}}</p>
                        <ul class="icons">
                            {{ range .Contacts }}
                            <li><a href="{{.Link}}" class="icon {{.Icon}}"><span class="label">{{.Label}}</span></a></li>
                            {{ end }}
                        </ul>
                    </section>
                </div>
            </div>
        </section>

        <!-- Copyright -->
        <div class="copyright">
            <ul class="menu">
                <li>&copy; Kevin Gentile 2017   All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                <li>Photo by <a href="https://unsplash.com/@jplenio">Johannes Plenio</a></li>
            </ul>
        </div>
    </div>
    {{ end }} {{/*end footer*/}}
</div>

{{ end }}