<!DOCTYPE HTML>

<html lang="en">
	<title>Kevin Gentile - Home</title>
	{{ template "header.template.html" . }}

	<body class="bg-dark">
		{{ template "nav.template.html" . }}
		<div class="container">
			<div class="row m-1 justify-content-center">
				<div class="mx-auto LI-profile-badge mb-5" data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="gentilekevin"><a class="LI-simple-link" href='https://www.linkedin.com/in/gentilekevin?trk=profile-badge'>Kevin Gentile</a></div>
			</div>
			<div class="row m-1 justify-content-center">
				<div class="col-md-5 mx-auto text-white lead">
					<div class="row">
						<p>
							My name is Kevin Gentile. I am a cloud engineer located in Columbus, Ohio. I specialize in
							microservice architecture, software development, and automation around the cloud.
						</p>
					</div>
					<div class="row">
						<p>
							This website has recently taken on a simplified style. Read about its history <a href="/rambler/Oct-04-2020">here</a>.
							Check out the source code for this site on <a href="https://github.com/kevingentile/kevingentile.com">GitHub</a>.
						</p>
					</div>
				</div>
			</div>
		</div>
		{{ template "copyright.template.html" . }}
		{{ template "scripts.template.html" . }}
		<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
	</body>
</html>