<!DOCTYPE HTML>

<html lang="en">
	<title>Kevin Gentile - Home</title>
	{{ template "header.template.html" . }}

	<body class="bg-dark">
		{{ template "nav.template.html" . }}
		<div class="container">
			<div class="col-md-5 p-3 mx-auto text-white lead shadow-lg">
				<div class="row px-3">
					<p>
						My name is Kevin Gentile. I am a cloud engineer located in Columbus, Ohio. I specialize in
						microservice architecture, software development, and automation around the cloud.
					</p>
				</div>
				<div class="row px-3">
					<p>
						This website has recently taken on a simplified style. Read about its history <a href="/rambler/Oct-04-2020">here</a>.
						Check out the source code for this site on <a href="https://github.com/kevingentile/kevingentile.com">GitHub</a>.
					</p>
				</div>
				<div class="row px-3">
					<div class="mx-auto">
						<a href="https://www.linkedin.com/in/gentilekevin/"><img src="https://img.shields.io/badge/LinkedIn-Follow%20Me!-blue"/></a>
						<a href="https://github.com/kevingentile"><img src="https://img.shields.io/github/followers/kevingentile?label=GitHub&style=social"/></a>
					</div>
				</div>
			</div>
		</div>
		{{ template "copyright.template.html" . }}
		{{ template "scripts.template.html" . }}
		<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
	</body>
</html>